# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
src/windows/__pycache__/analysis_window.cpython-311.pyc
src/windows/__pycache__/main_window.cpython-311.pyc
